# Backend
DATABASE_URL=YOUR_DATABASE_URL
REDIS_URL=YOUR_REDIS_URL
BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=YOUR_POSTHOG_TOKEN
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

# Channel target
YOUTUBE_CHANNEL_ID=YOUR_YOUTUBE_CHANNEL_ID
YOUTUBE_API_KEY=YOUR_YOUTUBE_API_KEY

# Base url
BASE_URL=YOUR_BASE_URL # example: https://buzz.sudloh.com

# Discord bot (Rubgram)
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
DISCORD_GUILD_ID=YOUR_DISCORD_GUILD_ID
DISCORD_CLIENT_ID=YOUR_DISCORD_CLIENT_ID
DISCORD_CLIENT_SECRET=YOUR_DISCORD_CLIENT_SECRET
DISCORD_REDIRECT_URI=https://YOUR_BASE_URL/rubgram/callback

# Discord webhook (Rubgram)
DISCORD_WEBHOOK_URL=YOUR_DISCORD_WEBHOOK_URL # For Rubgram calling
WEBHOOK_RUBGRAM_SUBMIT=YOUR_WEBHOOK_RUBGRAM_SUBMIT # For Rubgram submit

# Payment (Rubgram) https://slipok.com/
SLIPOK_API_URL=YOUR_SLIPOK_API_URL
SLIPOK_API_KEY=YOUR_SLIPOK_API_KEY

# Donate-related
# Gemini TTS API
GEMINI_TTS_API_KEY=YOUR_GEMINI_TTS_API_KEY
# Truemoney number to redeem to
TMN_DEST_PHONE_NUM=YOUR_TMN_DEST_PHONE_NUM
# api.sastify.xyz Private API key
SASTIFY_API_PRIVKEY=YOUR_SASTIFY_API_PRIVKEY
# Widget key
DONATE_WIDGET_KEY=RANDOM_GENERATED

# Environment
ENVIRONMENT=production